# STS (Spring Tool Suite)
sts/

# Eclipse and STS metadata
.metadata/
.classpath
.project
.settings/

# Maven
target/
*.iml

# Gradle
.gradle/
build/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock

# IDE-specific files
.vscode/
.idea/